<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
</head>

<body>

  <header class="header" id="header">
    <a href="./../index.html" class="header-logo">
      <img src="./../assets/images/Logo.png" alt="" class="header-logo_logo" id="headerLogo">
      <img src="./../assets/images/Logo-adaptive.png" alt="" class="header-logo_logo-adaptive" id="headerLogoAdaptive">
    </a>
    <nav class="header-nav">
      <ul class="nav-items">
        <li class="nav-items_item">
          <a href="#">About us</a>
        </li>
        <li class="nav-items_item">
          <a href="#">Services</a>
        </li>
        <li class="nav-items_item">
          <a href="#">Use Cases</a>
        </li>
        <li class="nav-items_item">
          <a href="#">Pricing</a>
        </li>
        <li class="nav-items_item">
          <a href="#">Blog</a>
        </li>
        <li class="nav-items_item">
          <button class="item_item-button">Request a quote</button>
        </li>
        <li class="nav-items_item mode-item">
          <div class="mode">
            <input type="checkbox" id="themeButton" name="theme" />
            <label for="themeButton" id="labelThemeButton"></label>
        </li>
        <li class="menu-button" id="menu">
          <svg width="30px" height="30px" viewBox="0 0 20 20">
            <use href="./../svg.svg#menu">
          </svg>
        </li>
      </ul>
    </nav>
  </header>

  <article class="menu">
    <button type="button" id="menuExit">
      <svg  width="64px" height="64px" viewBox="0 0 36 36">
        <use href="./../svg.svg#exit-menu">
      </svg>
    </button>
    <ul class="menu-items">
      <li class="menu_item">
        <a href="#">About us</a>
      </li>
      <li class="menu_item">
        <a href="#">Services</a>
      </li>
      <li class="menu_item">
        <a href="#">Use Cases</a>
      </li>
      <li class="menu_item">
        <a href="#">Pricing</a>
      </li>
      <li class="menu_item">
        <a href="#">Blog</a>
      </li>
  </article>

  <section class="team">
    <article class="team-text">
      <h2 class="team-text_title">Team</h2>
      <p class="team-text_text text">Meet the skilled and experienced team
        behind our successful digital marketing strategies</p>
    </article>
    <article class="team-items">
      <div class="team-item">
        <div class="team-item_item-info">
          <div class="item-info_image">
            <img src="./../assets/images/team-image/Picture.png" alt="">
          </div>
          <div class="item-info_title">
            <h4 class="title-name">John Smith</h4>
            <p class="title-position">CEO and Founder</p>
          </div>
        </div>
        <div class="team-item_item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus molestie, massa vitae faucibus sollicitudin,
            magna elit fermentum nisl, et maximus nibh ipsum quis
            lorem. Praesent tristique non nisi nec fringilla. Aliquam
            erat volutpat. Praesent ut nisl varius, semper nulla in,
            lobortis dui. Etiam hendrerit auctor tellus id tristique.
            Nunc purus risus, condimentum a neque sit amet, porta
            scelerisque lacus. Quisque ut turpis convallis,
            sodales nunc vitae, eleifend lacus. Integer euismod
            turpis sed lorem euismod semper. Integer ut eros ac
            nunc iaculis tincidunt. Vivamus porta turpis a neque
            accumsan, nec commodo mauris facilisis. Mauris posuere
            et libero vitae lobortis. Curabitur tincidunt porta
            egestas. Nullam imperdiet justo magna,
            lobortis mattis mi mattis non.
          </p>
        </div>
        <a class="team-item_link">
          <svg viewBox="0 0 34 34" width="34" height="34">
            <use href="./../svg.svg#team-link">
          </svg>
        </a>
      </div>
      <div class="team-item">
        <div class="team-item_item-info">
          <div class="item-info_image">
            <img src="./../assets/images/team-image/Picture-1.png" alt="">
          </div>
          <div class="item-info_title">
            <h4 class="title-name">Jane Doe</h4>
            <p class="title-position">Director of Operations</p>
          </div>
        </div>
        <div class="team-item_item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus molestie, massa vitae faucibus sollicitudin,
            magna elit fermentum nisl, et maximus nibh ipsum quis
            lorem. Praesent tristique non nisi nec fringilla. Aliquam
            erat volutpat. Praesent ut nisl varius, semper nulla in,
            lobortis dui. Etiam hendrerit auctor tellus id tristique.
            Nunc purus risus, condimentum a neque sit amet, porta
            scelerisque lacus. Quisque ut turpis convallis,
            sodales nunc vitae, eleifend lacus. Integer euismod
            turpis sed lorem euismod semper. Integer ut eros ac
            nunc iaculis tincidunt. Vivamus porta turpis a neque
            accumsan, nec commodo mauris facilisis. Mauris posuere
            et libero vitae lobortis. Curabitur tincidunt porta
            egestas. Nullam imperdiet justo magna,
            lobortis mattis mi mattis non.
          </p>
        </div>
        <a class="team-item_link">
          <svg viewBox="0 0 34 34" width="34" height="34">
            <use href="./../svg.svg#team-link">
          </svg>
        </a>
      </div>
      <div class="team-item">
        <div class="team-item_item-info">
          <div class="item-info_image">
            <img src="./../assets/images/team-image/Picture-2.png" alt="">
          </div>
          <div class="item-info_title">
            <h4 class="title-name">Michael Brown</h4>
            <p class="title-position">Senior SEO Specialist</p>
          </div>
        </div>
        <div class="team-item_item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus molestie, massa vitae faucibus sollicitudin,
            magna elit fermentum nisl, et maximus nibh ipsum quis
            lorem. Praesent tristique non nisi nec fringilla. Aliquam
            erat volutpat. Praesent ut nisl varius, semper nulla in,
            lobortis dui. Etiam hendrerit auctor tellus id tristique.
            Nunc purus risus, condimentum a neque sit amet, porta
            scelerisque lacus. Quisque ut turpis convallis,
            sodales nunc vitae, eleifend lacus. Integer euismod
            turpis sed lorem euismod semper. Integer ut eros ac
            nunc iaculis tincidunt. Vivamus porta turpis a neque
            accumsan, nec commodo mauris facilisis. Mauris posuere
            et libero vitae lobortis. Curabitur tincidunt porta
            egestas. Nullam imperdiet justo magna,
            lobortis mattis mi mattis non.
          </p>
        </div>
        <a class="team-item_link">
          <svg viewBox="0 0 34 34" width="34" height="34">
            <use href="./../svg.svg#team-link">
          </svg>
        </a>
      </div>
      <div class="team-item">
        <div class="team-item_item-info">
          <div class="item-info_image">
            <img src="./../assets/images/team-image/Picture-3.png" alt="">
          </div>
          <div class="item-info_title">
            <h4 class="title-name">Emily Johnson</h4>
            <p class="title-position">PPC Manager</p>
          </div>
        </div>
        <div class="team-item_item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus molestie, massa vitae faucibus sollicitudin,
            magna elit fermentum nisl, et maximus nibh ipsum quis
            lorem. Praesent tristique non nisi nec fringilla. Aliquam
            erat volutpat. Praesent ut nisl varius, semper nulla in,
            lobortis dui. Etiam hendrerit auctor tellus id tristique.
            Nunc purus risus, condimentum a neque sit amet, porta
            scelerisque lacus. Quisque ut turpis convallis,
            sodales nunc vitae, eleifend lacus. Integer euismod
            turpis sed lorem euismod semper. Integer ut eros ac
            nunc iaculis tincidunt. Vivamus porta turpis a neque
            accumsan, nec commodo mauris facilisis. Mauris posuere
            et libero vitae lobortis. Curabitur tincidunt porta
            egestas. Nullam imperdiet justo magna,
            lobortis mattis mi mattis non.
          </p>
        </div>
        <a class="team-item_link">
          <svg viewBox="0 0 34 34" width="34" height="34">
            <use href="./../svg.svg#team-link">
          </svg>
        </a>
      </div>
      <div class="team-item">
        <div class="team-item_item-info">
          <div class="item-info_image">
            <img src="./../assets/images/team-image/Picture-4.png" alt="">
          </div>
          <div class="item-info_title">
            <h4 class="title-name">Brian Williams</h4>
            <p class="title-position">Social Media Specialist</p>
          </div>
        </div>
        <div class="team-item_item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus molestie, massa vitae faucibus sollicitudin,
            magna elit fermentum nisl, et maximus nibh ipsum quis
            lorem. Praesent tristique non nisi nec fringilla. Aliquam
            erat volutpat. Praesent ut nisl varius, semper nulla in,
            lobortis dui. Etiam hendrerit auctor tellus id tristique.
            Nunc purus risus, condimentum a neque sit amet, porta
            scelerisque lacus. Quisque ut turpis convallis,
            sodales nunc vitae, eleifend lacus. Integer euismod
            turpis sed lorem euismod semper. Integer ut eros ac
            nunc iaculis tincidunt. Vivamus porta turpis a neque
            accumsan, nec commodo mauris facilisis. Mauris posuere
            et libero vitae lobortis. Curabitur tincidunt porta
            egestas. Nullam imperdiet justo magna,
            lobortis mattis mi mattis non.
          </p>
        </div>
        <a class="team-item_link">
          <svg viewBox="0 0 34 34" width="34" height="34">
            <use href="./../svg.svg#team-link">
          </svg>
        </a>
      </div>
      <div class="team-item">
        <div class="team-item_item-info">
          <div class="item-info_image">
            <img src="./../assets/images/team-image/Picture-5.png" alt="">
          </div>
          <div class="item-info_title">
            <h4 class="title-name">Sarah Kim</h4>
            <p class="title-position">Content Creator</p>
          </div>
        </div>
        <div class="team-item_item-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Phasellus molestie, massa vitae faucibus sollicitudin,
            magna elit fermentum nisl, et maximus nibh ipsum quis
            lorem. Praesent tristique non nisi nec fringilla. Aliquam
            erat volutpat. Praesent ut nisl varius, semper nulla in,
            lobortis dui. Etiam hendrerit auctor tellus id tristique.
            Nunc purus risus, condimentum a neque sit amet, porta
            scelerisque lacus. Quisque ut turpis convallis,
            sodales nunc vitae, eleifend lacus. Integer euismod
            turpis sed lorem euismod semper. Integer ut eros ac
            nunc iaculis tincidunt. Vivamus porta turpis a neque
            accumsan, nec commodo mauris facilisis. Mauris posuere
            et libero vitae lobortis. Curabitur tincidunt porta
            egestas. Nullam imperdiet justo magna,
            lobortis mattis mi mattis non.
          </p>
        </div>
        <a class="team-item_link">
          <svg viewBox="0 0 34 34" width="34" height="34">
            <use href="./../svg.svg#team-link">
          </svg>
        </a>
      </div>
    </article>
  </section>

  <footer class="footer">
    <article class="footer-nav">
      <a href="./../index.html" class="footer-nav_logo">
        <img src="./../assets/images/footer-logo.png" alt="">
      </a>
      <ul class="footer-nav_nav">
        <li>
          <a href="./../templates/about.html">About us</a>
        </li>
        <li>
          <a href="#">Services</a>
        </li>
        <li>
          <a href="#">Use Cases</a>
        </li>
        <li>
          <a href="#">Pricing</a>
        </li>
        <li>
          <a href="#">Blog</a>
        </li>
      </ul>
      <div class="footer-nav_social">
        <a href="#">
          <svg width="30" height="30" viewBox="0 0 30 30">
            <use href="./../svg.svg#social-in">
          </svg>
        </a>
        <a href="#">
          <svg width="30" height="30" viewBox="0 0 30 30">
            <use href="./../svg.svg#social-facebook">
          </svg>
        </a>
        <a href="#">
          <svg width="30" height="30" viewBox="0 0 30 30">
            <use href="./../svg.svg#social-twitter">
          </svg>
        </a>
      </div>
    </article>
    <article class="footer-form">
      <div class="form-info">
        <h4 class="form-info_title">Contact us:</h4>
        <div class="form-info_text">
          <p>Email: info@positivus.com</p>
          <p>Phone: 555-567-8901</p>
          <p>Address: 1234 Main St<br>
            Moonstone City, Stardust State 12345</p>
        </div>
      </div>
      <div class="form-form">
        <input type="text" placeholder="Email">
        <button type="button">Subscribe to news</button>
      </div>
    </article>
    <article class="footer-copyright">
      <p>© 2023 Positivus. All Rights Reserved.</p>
      <a href="#">Privacy Policy</a>
    </article>
  </footer>

</body>

</html>