@use "./mixins.scss";
@use "./fonts.scss";

$dark: #191A23;
$black: #000000;
$green: #B9FF66;
$grey: #F3F3F3;
$darkgrey: #292A32;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: 500ms;
}

body {
    @include mixins.reset-css;
    @include fonts.space-grotesk-regular;
    font-family: 'Space Grotesk';
    font-style: normal;
    color: $black;
    transition: 0.5s ease-out;
    background-color: #ffffff;

}

html[theme='dark'] body {
    background-color: $dark;
}

h1 {
    @include mixins.h1;

    html[theme='dark'] & {
        color: #ffffff;
    }

    @media screen and (max-width: 1250px) {
        font-size: 43px;
        line-height: 55px;
    }
}

h2 {
    @include mixins.h2;

    @media screen and (max-width: 1250px) {
        font-size: 36px;
        line-height: 46px;
    }
}

h3 {
    @include mixins.h3;

    @media screen and (max-width: 1250px) {
        font-size: 26px;
        line-height: 33px;
    }
}

h4 {
    @include mixins.h4;

    @media screen and (max-width: 1250px) {
        font-size: 18px;
        line-height: 23px;
    }
}

p {
    @include mixins.text;
}

input[type="checkbox"],
input[type="radio"] {
    appearance: none;
    position: relative;
    width: 28px;
    height: 28px;
    background: #ffffff;
    box-shadow: inset 0 0 5px rgb(0 0 0 / 0.2);
    border-radius: 45px;
    border: 1px solid $black;
    transition: 500ms;

    &::after {
        content: "";
        position: absolute;
        top: 5px;
        left: 5px;
        width: 0px;
        height: 0px;
        overflow: hidden;
        border-radius: 50%;
        background-color: $green;
    }

    &:checked::after {
        width: 16px;
        height: 16px;
    }
}

.header {
    @include mixins.container;
    @include mixins.flex;
    justify-content: space-between;
    margin-top: 60px;
    transition: 500ms;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: 600px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-logo {
        padding: 10px 0;

        &_logo {
            @media screen and (max-width: 1250px) {
                display: none;
            }
        }

        &_logo-adaptive {
            display: none;

            @media screen and (max-width: 1250px) {
                display: block;
            }
        }
    }

    &-nav {
        @include mixins.flex;

        .nav-items {
            @include mixins.flex;
            gap: 40px;
            list-style: none;

            @media screen and (max-width: 1250px) {
                gap: 20px;
            }

            .menu-button {
                display: none;
                transform: scale(1.2);

                @media screen and (max-width: 1024px) {
                    display: block;
                }
            }

            .mode-item {
                @media screen and (max-width: 1024px) {
                    display: block;
                }
            }

            &_item {

                @media screen and (max-width: 1024px) {
                    display: none;
                }

                & a {
                    position: relative;
                    color: $black;
                    text-decoration: none;

                    html[theme='dark'] & {
                        color: #ffffff;
                    }

                }

                & a::after {
                    @include mixins.hover-underline-after;
                }

                & a:hover::after {
                    transform: scaleX(1);
                    transform-origin: bottom center;
                }

                .item_item-button {
                    @include mixins.button;

                    @media screen and (max-width: 1024px) {
                        display: none;
                    }

                    &:hover {
                        @include mixins.button-hover;
                    }
                }

                & .mode input {
                    height: 0;
                    width: 0;
                    visibility: hidden;

                    &:checked+label {
                        background: $dark;
                    }

                    &:checked+label:after {
                        left: calc(100% - 5px);
                        transform: translateX(-100%);
                        background-color: $green;
                    }
                }

                & .mode label {
                    cursor: pointer;
                    text-indent: -9999px;
                    width: 52px;
                    height: 27px;
                    background: $grey;
                    float: right;
                    border-radius: 100px;
                    position: relative;
                    border: 1px solid $black;

                    html[theme='dark'] & {
                        border: 1px solid $green;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 3px;
                        left: 3px;
                        width: 20px;
                        height: 20px;
                        background: $dark;
                        border-radius: 90px;
                        transition: 0.3s;
                    }

                    &:active:after {
                        width: 15px;
                    }
                }
            }
        }
    }
}

.menu {
    @include mixins.flex;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $dark;
    z-index: 2;

    #menuExit {
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
        background-color: rgb(0 0 0 / 0.0);
        border: none;
    }

    &-items {
        @include mixins.flex;
        flex-direction: column;
        gap: 30px;

        .menu_item {
            list-style: none;

            & a {
                @include mixins.text;
                text-decoration: none;
                color: #ffffff
            }
        }
    }
}

.main {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    margin-top: 70px;
    overflow: hidden;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    &-content {
        @include mixins.flex;
        justify-content: space-between;
        width: 100%;

        &-text {
            @include mixins.flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 35px;
            width: 530px;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }

            &_title {
                @include mixins.h1;
                margin: 0;

                @media screen and (max-width: 1250px) {
                    font-size: 43px;
                    line-height: 55px;
                }

                @media screen and (max-width: 1024px) {
                    width: 500px;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                    font-size: 43px;
                    line-height: 55px;
                }
            }

            & img {
                display: none;

                @media screen and (max-width: 1024px) {
                    display: block;
                }

                @media screen and (max-width: 768px) {
                    width: 100%;
                }
            }

            &_text {
                font-family: 'Space Grotesk';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 28px;
                color: $black;

                @media screen and (max-width: 1024px) {
                    width: 500px;
                }

                @media screen and (max-width: 768px) {
                    @include mixins.text-mobile;
                    width: 100%;
                }

                html[theme='dark'] & {
                    color: #ffffff;
                }

                @media screen and (max-width: 1250px) {
                    font-size: 16px;
                    line-height: 24px;
                }

            }

            &_button {
                @include mixins.button;
                background-color: $black;
                color: #ffffff;

                @media screen and (max-width: 768px) {
                    width: 100%;
                }

                &:hover {
                    @include mixins.button-hover;
                    background-color: #ffffff;
                    color: $black;
                }
            }
        }

        &-image {
            position: relative;
            width: 530px;
            height: 480px;

            @media screen and (max-width: 1250px) {
                width: 530px;
                height: 480px;
            }

            @media screen and (max-width: 1024px) {
                display: none;
            }

            &_image {
                position: absolute;

                &:nth-child(1) {
                    top: 10px;
                    right: 10px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(2) {
                    top: 40px;
                    right: 40px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(3) {
                    top: 70px;
                    right: 70px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(4) {
                    top: 0;
                    left: 60px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(5) {
                    top: -30px;
                    right: 120px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(6) {
                    top: 0;
                    right: 30px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(7) {
                    top: 100px;
                    right: 50px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(8) {
                    top: 240px;
                    right: 70px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(9) {
                    top: -20px;
                    left: -80px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(10) {
                    top: 30px;
                    left: 0;
                    transition: 0.5s ease-out;
                }

                &:nth-child(11) {
                    bottom: 100px;
                    right: 160px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(12) {
                    bottom: 80px;
                    left: -70px;
                    transition: 0.5s ease-out;
                }

                &:nth-child(13) {
                    bottom: 10px;
                    left: 120px;
                    transition: 0.5s ease-out;
                }
            }
        }

        &:hover .png-circle1 {
            top: -40px;
            right: -40px;
            transform: rotate(-15deg);
            transition: 0.5s ease-out;
        }

        &:hover .png-circle2 {
            transform: rotate(-15deg);
            transition: 0.5s ease-out;
        }

        &:hover .png-circle3 {
            top: 130px;
            right: 130px;
            transform: rotate(-15deg);
            transition: 0.5s ease-out;
        }

        &:hover .png-megaphone {
            transform: rotate(10deg);
            transition: 0.5s ease-out;
        }

        &:hover .png-heart {
            top: -40px;
            transition: 0.5s ease-out;
        }

        &:hover .png-line {
            top: -20px;
            right: 20px;
            transition: 0.5s ease-out;
        }

        &:hover .png-video {
            top: 90px;
            right: 40px;
            transition: 0.5s ease-out;
        }

        &:hover .png-location {
            top: 220px;
            right: 40px;
            transition: 0.5s ease-out;
        }

        &:hover .png-ellipse-black {
            transform: scale(0.5);
            transition: 0.5s ease-out;
        }

        &:hover .png-ellipse-green-big {
            transform: scale(1.5);
            transition: 0.5s ease-out;
        }

        &:hover .png-ellipse-green-min {
            transform: scale(1.5);
            transition: 0.5s ease-out;
        }

        &:hover .png-star-big {
            transform: scale(0.5) rotate(100deg);
            transition: 0.5s ease-out;
        }

        &:hover .png-star-little {
            transform: scale(1.5) rotate(-100deg);
            transition: 0.5s ease-out;
        }
    }

    &-logo {
        @include mixins.flex;
        justify-content: space-between;
        margin-top: 70px;
        width: 100%;

        @media screen and (max-width: 1024px) {
            display: none;
        }

    }

    &-logo-mob {
        @include mixins.flex;
        flex-direction: column;
        display: none;
        width: 100%;
        margin-top: 70px;

        @media screen and (max-width: 1024px) {
            display: flex;
        }

        .section-first {
            @include mixins.flex;
            justify-content: space-around;
            width: 100%;
            position: relative;
            gap: 20px;
            left: 30px;

            @media screen and (max-width: 425px) {
                left: -20px;
            }
        }

        .section-second {
            @include mixins.flex;
            justify-content: space-around;
            width: 100%;
            position: relative;
            gap: 20px;
            right: 30px;

            @media screen and (max-width: 425px) {
                right: 60px;
            }
        }

    }

}

.services {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 70px;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &-text {
        @include mixins.flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &_title {
            padding-left: 7px;
            padding-right: 7px;
            background-color: $green;
            border-radius: 7px;
        }

        &_text {
            @include mixins.text;
            width: 470px;

            @media screen and (max-width: 1024px) {
                @include mixins.text-mobile;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            html[theme='dark'] & {
                color: #ffffff;
            }
        }
    }

    &-items {
        @include mixins.flex;
        flex-wrap: wrap;
        gap: 40px;
        margin-top: 80px;

        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }

        &_item {
            @include mixins.flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 87px;
            position: relative;
            padding: 50px 310px 50px 50px;
            border: $black 1px solid;
            border-radius: 45px;
            background-color: $grey;
            box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);
            transition: 0.25s ease-out;

            @media screen and (max-width: 1250px) {
                width: 390px;
                height: 322px;
                padding: 30px;
            }

            @media screen and (max-width: 375px) {
                width: 260px;
                height: 322px;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);
                transition: 0.25s ease-out;

            }

            .item_item-title {
                width: 230px;

                & h3 {
                    display: inline-block;
                    margin: 0;
                    padding: 0px 7px;
                    background: #B9FF66;
                    border-radius: 7px;
                }
            }

            .item_item-button {

                & a {
                    @include mixins.flex;
                    @include mixins.text;
                    gap: 10px;
                    text-decoration: none;

                    p {
                        position: relative;

                        @media screen and (max-width: 1250px) {
                            display: none;
                        }
                    }

                    p::after {
                        @include mixins.hover-underline-after;
                        background-color: $black;
                    }
                }

                &:hover p::after {
                    transform: scaleX(1);
                    transform-origin: bottom center;
                }
            }

            .item_item-image {
                @include mixins.flex;
                width: 210px;
                height: 170px;
                position: absolute;
                top: 70px;
                right: 50px;

                @media screen and (max-width: 1250px) {
                    top: 130px;
                    right: 30px;
                }

                @media screen and (max-width: 375px) {
                    top: 150px;
                    right: -10px;
                }

                & img {
                    @media screen and (max-width: 1250px) {
                        transform: scale(0.8);
                    }

                    @media screen and (max-width: 375px) {
                        transform: scale(0.6);
                    }
                }
            }
        }

        .green-item {
            background-color: $green;

            & .item_item-title h3 {
                background-color: #ffffff;
            }
        }

        .black-item {
            background-color: $black;

            & .item_item-title h3 {
                background-color: #ffffff;
            }

            & a p {
                color: #ffffff;
            }

            & a p::after {
                background-color: $green;
            }
        }
    }

    .proposal {
        @include mixins.flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 26px;
        position: relative;
        width: 100%;
        margin-top: 123px;
        padding: 60px;
        background-color: $grey;
        border-radius: 45px;

        @media screen and (max-width: 1250px) {
            margin-top: 70px;
        }

        @media screen and (max-width: 768px) {
            padding: 50px;
        }

        @media screen and (max-width: 425px) {
            padding: 20px;
        }

        &_proposal-title {
            @include mixins.h3;

            @media screen and (max-width: 768px) {
                font-size: 26px;
                line-height: 33px;
            }
        }

        &_proposal-text {
            @include mixins.text;
            width: 500px;

            @media screen and (max-width: 768px) {
                width: 100%;
            }
        }

        &_proposal-button {
            & button {
                @include mixins.button;
                @include mixins.text;
                background-color: $black;
                color: #ffffff;

                @media screen and (max-width: 768px) {
                    @include mixins.text-mobile;
                    width: 100%;
                }

                @media screen and (max-width: 425px) {
                    padding: 15px;
                }

                &:hover {
                    @include mixins.button-hover;
                    background-color: $grey;
                    color: $black;
                }
            }
        }

        &_proposal-image {
            position: absolute;
            top: -30px;
            right: 130px;

            @media screen and (max-width: 1250px) {
                right: 90px;
            }

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }
    }
}

.case-studies {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 163px;
    overflow: hidden;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &-text {
        @include mixins.flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &_title {
            padding-left: 7px;
            padding-right: 7px;
            background-color: $green;
            border-radius: 7px;
        }

        &_text {
            @include mixins.text;
            width: 470px;

            @media screen and (max-width: 1024px) {
                @include mixins.text-mobile;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            html[theme='dark'] & {
                color: #ffffff;
            }
        }
    }

    &-content {
        @include mixins.flex;
        justify-content: space-between;
        margin-top: 80px;
        padding: 70px 60px 70px;
        background-color: $dark;
        border-radius: 45px;
        width: 100%;

        @media screen and (max-width: 1250px) {
            gap: 20px;
            padding: 0;
            background-color: rgb(0 0 0 / 0.0);
        }

        @media screen and (max-width: 1250px) {
            margin-top: 30px;
        }

        html[theme='dark'] & {
            background-color: $black;
        }

        &_item {
            @include mixins.flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            position: relative;
            background-color: $dark;

            @media screen and (max-width: 1250px) {
                padding: 42px 50px;
                border-radius: 45px;
            }

            @media screen and (max-width: 425px) {
                padding: 32px 40px;
                right: 20px;
            }

            &:nth-child(2) {
                padding-left: 64px;
                padding-right: 64px;
                border-left: 1px solid #ffffff;
                border-right: 1px solid #ffffff;

                @media screen and (max-width: 1250px) {
                    padding: 42px 50px;
                    border: none;
                }

            }

            .item_item-text {
                width: 280px;
                color: #ffffff;

                @media screen and (max-width: 1250px) {
                    width: 250px;
                    height: 130px;
                }

                @media screen and (max-width: 1250px) {
                    width: 230px;
                    height: 170px;
                }

            }

            .item_item-link {
                @include mixins.flex;
                gap: 15px;
                text-decoration: none;

                & p {
                    padding-bottom: 5px;
                    color: $green;
                    position: relative;

                    &::after {
                        @include mixins.hover-underline-after;
                        background-color: $green;
                    }
                }

                &:hover p::after {
                    transform: scaleX(1);
                    transform-origin: bottom center;
                }
            }
        }
    }
}

.process {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 140px;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &-text {
        @include mixins.flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &_title {
            padding-left: 7px;
            padding-right: 7px;
            background-color: $green;
            border-radius: 7px;
        }

        &_text {
            @include mixins.text;
            width: 470px;

            @media screen and (max-width: 1024px) {
                @include mixins.text-mobile;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            html[theme='dark'] & {
                color: #ffffff;
            }
        }
    }

    &-items {
        @include mixins.flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
        margin-top: 80px;

        @media screen and (max-width: 768px) {
            margin-top: 30px;
        }

        &_item {
            @include mixins.flex;
            flex-direction: column;
            width: 100%;
            padding: 40px 60px;
            background-color: $grey;
            border: 1px solid $black;
            border-radius: 45px;
            box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);
            transition: 0.25s ease-out;

            @media screen and (max-width: 600px) {
                padding: 30px 30px;
            }

            @media screen and (max-width: 425px) {
                padding: 10px 10px;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);
                transition: 0.25s ease-out;
            }

            .item-visible {
                @include mixins.flex;
                justify-content: space-between;
                width: 100%;
                transition: 0.25s ease-out;

                &_number {
                    margin-right: 20px;
                    font-weight: 500;
                    font-size: 60px;
                    line-height: 77px;

                    @media screen and (max-width: 600px) {
                        font-size: 30px;
                        margin-right: 10px;
                    }
                }

                &_title {
                    width: 100%;

                    @media screen and (max-width: 600px) {
                        font-size: 18px;
                        line-height: 23px;
                    }
                }

                &_button {
                    cursor: pointer;
                }
            }

            .item-invisible {
                @include mixins.text;
                padding-top: 30px;
                border-top: 1px solid black;
                transition: 0.25s ease-out;
                display: none;
            }
        }
    }
}

.team {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 140px;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &-text {
        @include mixins.flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &_title {
            padding-left: 7px;
            padding-right: 7px;
            background-color: $green;
            border-radius: 7px;
        }

        &_text {
            @include mixins.text;
            width: 470px;

            @media screen and (max-width: 1024px) {
                @include mixins.text-mobile;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            html[theme='dark'] & {
                color: #ffffff;
            }
        }
    }

    &-items {
        @include mixins.flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 80px;

        @media screen and (max-width: 1250px) {
            justify-content: center;
            gap: 40px;
            margin-top: 40px;
        }

        @media screen and (max-width: 1024px) {
            gap: 30px;
        }

        @media screen and (max-width: 768px) {
            margin-bottom: 30px;
        }

        .team-item {
            @include mixins.flex;
            flex-direction: column;
            position: relative;
            margin-bottom: 40px;
            width: 390px;
            padding: 40px 35px;
            border: 1px solid $black;
            border-radius: 45px;
            box-shadow: 0px 5px 0px 0px rgb(0, 0, 0);
            transition: 0.25s ease-out;

            @media screen and (max-width: 768px) {
                margin-bottom: 0;
            }


            html[theme='dark'] & {
                background-color: #ffffff;
            }

            &:hover {
                transform: translateY(-5px);
                box-shadow: 0px 10px 10px 0px rgb(0, 0, 0);
                transition: 0.25s ease-out;
            }

            &_item-info {
                @include mixins.flex;
                align-items: flex-end;
                justify-content: flex-start;
                gap: 20px;
                width: 100%;
                padding-bottom: 28px;

                .item-info_title {

                    .title-position {
                        @include mixins.text;
                    }
                }
            }

            &_item-text {
                padding-top: 28px;
                border-top: 1px solid $black;

                & p {
                    @include mixins.text;
                    height: 115px;

                    @media screen and (max-width: 425px) {
                        @include mixins.text-mobile;
                        height: 140px;
                    }
                }
            }

            &_link {
                position: absolute;
                top: 40px;
                right: 35px;
                cursor: pointer;

                @media screen and (max-width: 425px) {
                    top: 20px;
                    right: 15px;
                }

                &:hover svg {
                    transform: scale(1.1);
                    transition: 0.25s ease-out;
                }

                & svg {
                    transition: 0.25s ease-out;

                }
            }
        }
    }

    &-button {
        @include mixins.flex;
        justify-content: flex-end;
        width: 100%;

        @media screen and (max-width: 1024px) {
            justify-content: center;
        }

        & button {
            @include mixins.button;
            @include mixins.text;
            padding: 20px 66px;
            border-radius: 14px;
            background-color: $black;
            color: #ffffff;

            &:hover {
                @include mixins.button-hover;
                background-color: #ffffff;
                color: $black;
            }
        }
    }
}

.testimonials {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 140px;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &-text {
        @include mixins.flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &_title {
            padding-left: 7px;
            padding-right: 7px;
            background-color: $green;
            border-radius: 7px;
        }

        &_text {
            @include mixins.text;
            width: 470px;

            @media screen and (max-width: 1024px) {
                @include mixins.text-mobile;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            html[theme='dark'] & {
                color: #ffffff;
            }
        }
    }

    .reviews {
        @include mixins.flex;
        flex-direction: column;
        width: 100%;
        margin-top: 80px;
        padding-top: 84px;
        padding-bottom: 68px;
        background-color: $dark;
        border-radius: 45px;

        html[theme='dark'] & {
            background-color: $black;
        }

        &-items {
            @include mixins.flex;
            gap: 50px;
            width: 100%;
            overflow: hidden;

            &_item {
                @include mixins.flex;
                flex-direction: column;

                .item-text {
                    position: relative;
                    width: 500px;
                    padding: 48px 52px;
                    color: #ffffff;
                    border: 1px solid $green;
                    border-radius: 45px;

                    @media screen and (max-width: 600px) {
                        @include mixins.text-mobile;
                        width: 230px;
                        padding: 30px 30px;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        display: inline-block;
                        width: 40px;
                        height: 40px;
                        background-color: $dark;
                        border-bottom: 1px solid $green;
                        border-left: 1px solid $green;
                        transform: rotate(-45deg);
                        bottom: -21px;
                        left: 100px;

                        @media screen and (max-width: 600px) {
                            left: 45px;
                        }

                        html[theme='dark'] & {
                            background-color: $black;
                        }
                    }
                }

                .item-info {
                    @include mixins.flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-top: 48px;

                    & h4 {
                        color: $green;
                    }

                    & p {
                        color: #ffffff;
                    }
                }

            }
        }

        &-nav {
            @include mixins.flex;
            justify-content: space-between;
            margin-top: 124px;
            width: 560px;

            @media screen and (max-width: 768px) {
                width: 100%;
                margin-top: 60px;
                padding: 0 20px;
            }

            & svg {
                cursor: pointer;
            }

            & ul {
                @include mixins.flex;
                gap: 20px;

                @media screen and (max-width: 768px) {
                    gap: 15px;
                }

                & li {
                    list-style: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.contact {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin-top: 140px;

    @media screen and (max-width: 1250px) {
        width: 100%;
        padding-left: 30px;
        padding-right: 40px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }

    &-text {
        @include mixins.flex;
        gap: 40px;

        @media screen and (max-width: 768px) {
            width: 100%;
            flex-direction: column;
            align-items: center;
        }

        &_title {
            padding-left: 7px;
            padding-right: 7px;
            background-color: $green;
            border-radius: 7px;

        }

        &_text {
            @include mixins.text;
            width: 320px;

            @media screen and (max-width: 1024px) {
                @include mixins.text-mobile;
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                text-align: center;
            }

            html[theme='dark'] & {
                color: #ffffff;
            }
        }
    }

    &-form {
        @include mixins.flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;
        position: relative;
        width: 100%;
        margin-top: 80px;
        padding: 60px 100px 80px;
        background-color: $grey;
        border-radius: 45px;
        background-image: url(./../assets/images/form-image.png);
        background-repeat: no-repeat;
        background-position: bottom 50% right -360px;

        @media screen and (max-width: 1024px) {
            background-image: none;
        }

        @media screen and (max-width: 768px) {
            padding: 40px 30px 50px;
        }

        &_radio {
            @include mixins.flex;
            gap: 35px;

            @media screen and (max-width: 425px) {
                flex-direction: column;
                align-items: flex-start;
            }

            & div {
                @include mixins.flex;
                gap: 14px;
            }

        }

        &_inputs {
            @include mixins.flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 25px;

            & li {
                @include mixins.flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 5px;
                list-style: none;

                & label {
                    font-size: 16px;
                    line-height: 28px;
                    color: $black;
                }

                & input {
                    @include mixins.text;
                    width: 556px;
                    padding: 18px 30px;
                    border-radius: 14px;
                    border: 1px solid $black;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }

                }

                & textarea[name="message"] {
                    @include mixins.text;
                    height: 190px;
                    width: 556px;
                    padding: 18px 30px;
                    border-radius: 14px;
                    border: 1px solid $black;
                    resize: none;
                    overflow: hidden;

                    @media screen and (max-width: 768px) {
                        width: 100%;
                    }
                }
            }
        }

        &_button {
            @include mixins.button;
            width: 556px;
            background-color: $black;
            color: #ffffff;
            font-size: 20px;
            line-height: 28px;

            @media screen and (max-width: 768px) {
                position: absolute;
                right: 0;
                bottom: -90px;
                width: 100%;
            }

            &:hover {
                @include mixins.button-hover;
                background-color: #ffffff;
                color: $black;
            }
        }
    }
}

.footer {
    @include mixins.container;
    @include mixins.flex;
    flex-direction: column;
    margin-top: 140px;
    padding: 55px 68px 50px;
    background-color: $dark;
    border-radius: 45px 45px 0 0;

    @media screen and (max-width: 1250px) {
        width: calc(100% - 60px);
    }

    @media screen and (max-width: 768px) {
        width: 100%;
        padding: 30px 20px 30px;
        margin-top: 180px;
    }

    html[theme='dark'] & {
        background-color: $black;
    }

    &-nav {
        @include mixins.flex;
        justify-content: space-between;
        width: 100%;

        &_logo {
            @media screen and (max-width: 1024px) {
                margin-bottom: 10px;
            }
        }

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 20px;
        }

        &_nav {
            @include mixins.flex;
            gap: 20px;

            @media screen and (max-width: 1024px) {
                flex-direction: column;
            }

            & li {
                list-style: none;

                & a {
                    @include mixins.text;
                    position: relative;
                    color: #ffffff;
                    text-decoration: none;
                    transition: 0.25s ease-out;

                    &:hover {
                        color: $green;
                        transition: 0.25s ease-out;
                    }

                }

                & a::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 1px;
                    bottom: 1px;
                    left: 0;
                    background-color: #ffffff;
                    transition: 0.25s ease-out;

                    @media screen and (max-width: 1024px) {
                        display: none;
                    }
                }

                & a:hover::after {
                    height: 2px;
                    bottom: -1px;
                    background-color: $green;
                    transition: 0.25s ease-out;
                }
            }
        }

        &_social {
            @include mixins.flex;
            gap: 20px;

            @media screen and (max-width: 1024px) {
                position: relative;
                top: 550px;
            }

            @media screen and (max-width: 768px) {
                top: 600px;
            }

            & a {
                text-decoration: none;

                & svg {
                    transition: 0.25s ease-out;
                }

                &:hover svg {
                    transform: scale(1.1);
                    transition: 0.25s ease-out;
                }
            }
        }
    }

    &-form {
        @include mixins.flex;
        justify-content: space-between;
        width: 100%;
        padding: 66px 0 50px;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            padding: 0 40px 59px;
            margin-top: -30px;
            margin-bottom: 40px;
        }

        @media screen and (max-width: 1024px) {
            padding: 0 0 59px;
        }

        .form-info {
            @include mixins.flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 27px;

            @media screen and (max-width: 1250px) {
                align-items: center;
            }

            &_title {
                padding: 0 7px 0;
                border-radius: 7px;
                background-color: $green;
            }

            &_text {
                @include mixins.flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 20px;
                width: 340px;

                @media screen and (max-width: 1024px) {
                    align-items: center;
                    margin-bottom: 37px;
                }

                @media screen and (max-width: 768px) {
                    width: 280px;
                }

                & p {
                    color: #ffffff;

                    @media screen and (max-width: 1024px) {
                        text-align: center;
                    }

                    @media screen and (max-width: 768px) {
                        width: 200px;
                    }
                }
            }
        }

        .form-form {
            @include mixins.flex;
            gap: 20px;
            padding: 58px 40px 59px;
            background-color: #292A32;
            border-radius: 14px;

            @media screen and (max-width: 1250px) {
                flex-direction: column;
            }

            @media screen and (max-width: 1024px) {
                width: 100%;
                padding: 58px 20px 59px;
            }

            & input {
                @include mixins.text;
                padding: 25px 32px;
                border: 1px solid #ffffff;
                border-radius: 14px;
                background-color: #292A32;

                @media screen and (max-width: 1024px) {
                    width: 100%;
                }

                &::placeholder {
                    color: #ffffff;
                }
            }

            & button {
                @include mixins.text;
                @include mixins.button;
                padding: 25px 40px;
                border-radius: 14px;
                background-color: $green;

                @media screen and (max-width: 1250px) {
                    width: 100%;
                }

                @media screen and (max-width: 768px) {
                    padding: 25px 10px;
                }

                &:hover {
                    @include mixins.button-hover;
                    background-color: #ffffff;
                    color: $black;
                }
            }
        }
    }

    &-copyright {
        @include mixins.flex;
        justify-content: flex-start;
        gap: 40px;
        width: 100%;
        padding-top: 50px;
        border-top: 1px solid #ffffff;

        @media screen and (max-width: 1024px) {
            flex-direction: column;
            gap: 20px;
        }

        & p {
            color: #ffffff;

            @media screen and (max-width: 1024px) {
                width: 280px;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
            }


        }

        & a {
            @include mixins.text;
            position: relative;
            color: #ffffff;
            text-decoration: none;
            transition: 0.25s ease-out;

            &:hover {
                color: $green;
                transition: 0.25s ease-out;
            }

        }

        & a::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            bottom: 1px;
            left: 0;
            background-color: #ffffff;
            transition: 0.25s ease-out;

            @media screen and (max-width: 1024px) {
                display: none;
            }
        }

        & a:hover::after {
            height: 2px;
            bottom: -1px;
            background-color: $green;
            transition: 0.25s ease-out;
        }
    }
}