$dark: #191A23;
$black: #000000;
$green: #B9FF66;

@mixin reset-css {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

@mixin container {
    width: 1240px;
    margin: 0 auto;
}

@mixin flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin button {
    font-family: 'Space Grotesk';
    font-style: normal;
    position: relative;
    padding: 20px 35px;
    border-radius: 10px;
    background-color: white;
    cursor: pointer;
    transition: 0.5s ease-out;
}

@mixin button-hover {
    background-color: $black;
    color: white;
    transition: 0.5s ease-out;

}

@mixin hover-underline-after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -3px;
    left: 0;
    background-color: $green;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

@mixin text {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $black;

}

@mixin h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 77px;
    color: $black;
}

@mixin h2 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 51px;
    color: $black;
}

@mixin h3 {
    font-family: 'Space Grotesk';
    font-style: normal;
    font-weight: 500;
    font-size: 30px;
    line-height: 38px;
    color: $black;
}